<div id="about">
  <div class="container container_outline">
    <div class="about_explanation">
      <div class="row">
        <h2>An Innovative Idea</h2>
      </div>
      <div class="row">
        <h3>Our team has noticed that the process of qualifying for loans and credit cards was cumbersome for young adults without prior financial history. <br><br><span class="">THAT'S WHERE SEED COMES IN</span> <br><br>We incentivize people to act financially responsible using an established network of friends, all while allowing individuals to build a credit record at lower rates than traditionally.</h3>
      </div>
    </div>
    <div class="row">
      <div class="howto_button">
        <a href="#howto">How It Works <span class="glyphicon glyphicon-chevron-down"></span></a>
      </div>
    </div>
  </div>
</div>