<div id="about">
  <div class="container">
      <div class="about_explanation">
        <div class="row">
              <h2>About</h2>
        </div>
        <div class="row">
              <h3>Our team has noticed that the process of qualifying for a loan or credit card is very cumbersome and often practically impossible if you have no prior financial history. <span class="">That's where Seed comes in.</span> We aim to incentivize people to spend and borrow responsibly using an established network of friends, allowing individuals to build a credit record with lower interest rates than traditionally.</h3>
        </div>
      </div>
        <div class="row">
          <div class="howto_button">
            <a href="#howto">How It Works <span class="glyphicon glyphicon-chevron-down"></span></a>
          </div>
        </div>
  </div>
</div>