
<!-- Header -->
<!-- <nav class="navbar navbar-default" role="navigation">  -->
	<div class="static_header">
	  	<div class="container">
	  		<div class="row">
		  		<div class="company_logo">
		  			<img src="/assets/tea-leaf-vector-hncruqdk.png" alt="Logo">
		  		</div>
		  	</div>
		  	<div class="summary_wrap">
		  		<div class="row">
				    <div class="company_summary">
				    	<h1>
	        				<span>Seed</span> anonymously borrow money from your friends while building a strong credit history
	      				</h1>
				    </div>
			  	</div>
			  	<div class="row">
	      			<div class="venmo_sign_up_button">
	          			<%= button_to "Sign Up With Venmo", user_omniauth_authorize_path(:venmo), :class =>"btn btn-info" %>
	      			</div>
    			</div>
    		</div>
	  	</div>
  	</div>

<!-- </nav> -->