<%= render "/static/header" %>

<!-- Sign-Up -->
<button type="button" class="btn btn-warning">Logout</button>
<button type="button" class="btn btn-info">Sign Up With Venmo</button>
<%= link_to "Log out", destroy_user_session_path, :method => :delete %>


</br>

<%= link_to'Sign Up with Venmo', user_omniauth_authorize_path(:venmo) %>     


<%= render "/static/howto" %>

<!-- container, row, col -->
