@import "dashboard";
@import "transactions";
@import "static";
@import "bootstrap";
@import "bootstrap_overrides";


html {
	width: 100%;
	height: 100%;
}

body {
	background:#f1f2f2 url(/assets/pattern-grid@1x.jpg) repeat left top;
	background-size:18px 18px;
	width: 100%;
	height: 100%;
	margin: 0;
}
