

/*.navbar-default .navbar-brand {
	color: #091b76;
}*/

/*div {
	border: solid;
	border-width: 1px;
}*/

/*body {
    width: 100%;
    height: 100%;
    background-color: black;
}*/


/*13B68D (logo color)
284450 (complementing blue)
ACBABF (complementing grey )*/

/*.navbar_styling {
	background-color: #ACBABF;
}*/

.dashboard_divs {
	background-color: white !important;
}

.profile {
	border: solid;
	border-radius: 6px;
	padding: 5px;
	background-color: #ACBABF;
}

.dropdown-toggle {
	color: black !important;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
	background-color: #13B68D !important;
}

.custom_progress{
	background-color: #13B68D !important;
}

.col-md-4.slight_margin {
	margin-left: 10px;
	margin-right: -10px;
}

.row .custom_rows {
	padding: 0px;
	margin-left: 0px;
}

.separation_line { 
/*	margin-left: 40px;
*/	width: 100%;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.horiz_line {
	margin-left: 75px;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 3px solid #13B68D;
}
/*

.selfie {
	background-image: url(/assets/selfie.jpg);
	background-size: cover;
	border-radius: 50%;
	border: solid;
	height: 100px;
	width: 100px;
	margin: 5px auto;
	background-position-y: -15px;

}*/

.container_border {
	border: solid;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: rgba(0,0,1,0.1)
}

/*.dashboard_body {
	background-color: rgba(0,0,0,.5);
}*/
.header_row {
	margin-top: 0px;
	box-shadow: 0px 0px 5px #888888;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 45px;
	margin-bottom: 20px;
	margin-left: 0px !important;
}

.credit_score {
	border: solid;
	border-radius: 6px;
	background-color: #ACBABF;


	h3 {
		text-align: center;
		padding: 0;
	}

	h2 {
		text-align: center;
		color: #0eff1a;
		margin: 0;
		padding-bottom: 5px;
	}
}

.navbar-default {
	border-color: black !important;
}

.small_logo {
	height: 40px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	background-size: cover;
}

.dash_brand {
	color: #13B68D;
/*	font-weight: bold;
*/	text-align: left;
	font-size: 23px;
	display: inline;
	padding-left: 10px;
	font-family: 'Roboto Slab', serif;

}

.track_progress_div {
	border: solid;
	padding-left: 5px;
	border-radius: 6px;
	background-color: #ACBABF;
}

.nav-thumbnail {
	height: 40px;
	margin-top: 5px;
	margin-right: 10px;
	background-image: url(/assets/selfie.jpg);
	background-size: cover;
	background-color: #CCCDEB;
	border-radius: 50%;
	border: solid;
	border-width: 1px;
	background-position-y: -15px;
}

.modal-body {
	max-height: 300px;
	overflow-y: scroll;
}


.items_borrowed {
	font-size: 25px;
}

.img-thumbnail {
	height: 200px ;
	width: 200px;

}

.active {
	font-weight: bold;
	font-size: 110%;
	margin-right: -10px;
	margin-bottom: 40px;
	}

.borrow_amount {
	margin-bottom: 20px;

}


.borrow_button {
	margin-top: 20px;
	margin-left: 40px;
	width: 300px;
	height: 100px;
	font-size: 35px;
	border-radius: 6px;
	border-color: black;
	background-color: #13B68D;

}

.borrow_button :hover {
			background-color: #0c7d61;

}

.borrowing_table {
	border: solid;
	border-radius: 6px;
	margin-top: 20px;
	background-color: #ACBABF;
}

.down {
	margin-top: 20px;

}

.side {
	font-weight: bold;
	margin-left: 5px;	

}

.side_lend {
	margin-top: 20px;
}

.pay {
	margin-top: 15px;
	margin-left: 75px;
}

.track {
	margin-bottom: 20px;
	line-height: 40%;
}

.make_payment_text {
	text-align: left;
}

.date_payment_due {
	margin-left: 100px;
}

.date_payment_due {

margin-top: -5px;	

}

.my_account {
	text-align: center;
	line-height: 40%;
	padding-bottom: 5px;

}

.container-fluid {
/*	background-color: rgba(0,0,0,0.8);*/
	background-image: url("http://culversportsidemarina-com.securec55.ezhostingserver.com/wp-content/uploads/2013/08/grey-gradient-background.jpg");
	background-size: 100%; 
}

/*.account_button {
	padding: 20px 0;

}*/