@import "bootstrap";


.navbar-default .navbar-brand {
	color: #091b76;
}

.nav-thumbnail {
	height: 40px;
	margin-top: 5px;
	margin-right: 10px;
}

.items_borrowed {
	font-size: 25px;
}

.btn_btn-default_btn-lg_dropdown-toggle {
	margin-top: 15px;
}

.active {
	font-weight: bold;
	font-size: 110%;
	margin-right: -10px;
	margin-bottom: 40px;
}

.money {
	margin-left: 45px;
}

.down {
	margin-top: 20px;

}

.col-md-2 {
	margin-left: -10px;

}

.side {
	font-weight: bold;
	margin-left: 5px;	

}

.side_lend {
	margin-top: 20px;
}

.btn-primary{
	margin-left: 10px;
	font-size: 20px;

}

.pay {
	margin-top: 15px;
	margin-left: 75px;
}

.track {
	margin-bottom: 20px;
}

.make_payment_text {
	text-align: left;
}

.date_payment_due {
	margin-left: 100px;
}