

/*.navbar-default .navbar-brand {
	color: #091b76;
}*/

/*div {
	border: solid;
	border-width: 2px;
}
*/

.container_border {
	border: solid;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: rgba(0,0,1,0.1)
}


.credit_score {
	padding: 25px 0 30px;
	float: right;
	border: solid;
	border-radius: 6px;
	margin-top: 5px;
	background-color: #b6e9ff;

	h3 {
		text-align: center;
	}

	h2 {
		text-align: center;
		color: #34c93d;
	}
}

.dash_brand {
	color: #186cc8;
	font-weight: bold;
	text-align: left;
	font-size: 200%;
	display: inline;	
}

.nav-thumbnail {
	height: 40px;
	margin-top: 5px;
	margin-right: 10px;
}

.modal-body {
	max-height: 300px;
	overflow-y: scroll;
}


.items_borrowed {
	font-size: 25px;
}

.img-thumbnail {
	height: 200px ;
	width: 200px;

}

.active {
	font-weight: bold;
	font-size: 110%;
	margin-right: -10px;
	margin-bottom: 40px;
	}

.borrow_amount {
	margin-bottom: 20px;

}

.down {
	margin-top: 20px;

}

.side {
	font-weight: bold;
	margin-left: 5px;	

}

.side_lend {
	margin-top: 20px;
}

.pay {
	margin-top: 15px;
	margin-left: 75px;
}

.track {
	margin-bottom: 20px;
}

.make_payment_text {
	text-align: left;
}

.date_payment_due {
	margin-left: 100px;
}

.date_payment_due {

margin-top: -5px;	

}

.my_account {
	text-align: left;

}

/*.account_button {
	padding: 20px 0;

}*/