.form {
display: block;
margin-top: 0em;
}
.row {
width: 100%;
padding-bottom: 19px;
font-family: ff-clan-web-pro-wide,sans-serif;
}

.sign_in {
	margin-top: 50px;
}

.sign_in h2 {
	text-align: center;
}

.sign_in_text {
	width: 120%;
}

.title_sign_up {
width: 100%;
padding: 38px 20px 20px;
position: absolute;
top: 0;
margin: 50px;
}



.form-container .sign_up {
margin: 40px auto 0;
width: 600px;
display: block;
}


.form_sign_up {
display: block;
margin-top: 0em;
}

.row_sign_up {
width: 100%;
padding-bottom: 19px;
font-family: ff-clan-web-pro-wide,sans-serif;
width: 33.33333333333333%;
}

.row_sign_up .col-md-8 {
	width: 66.66666666666666%;
}