/*// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/* Make venmo buttons bigger*/
/* Add fixed header */
/* Link Sign_In to sign in page with Uber layout*/
/* Get rid of gird-pattern on static/index page? Unnecessary and fucks with opacity*/
/* Make my centered items into "col-md-3 col-md-offset-4 (for example)*/
/* Look into vertical-align: middle; to center things vertically like howto div*/



body {
	background-position: center;
/*	background:#f1f2f2 url(/assets/pattern-grid@1x.jpg) repeat left top;
	background-size:18px 18px;*/
}

.LoginHeader {
	margin-top: 0px;
	box-shadow: 0px 0px 5px #888888;
	position: fixed;
	background-color: white;
	width: 100%;
	height: 45px;

	h1{
		font-family: 'Roboto Slab', serif;
		font-size: 23px;
		line-height: 10px;
    	padding: 0px 0;
    	padding-left: 30px;
    	color: #13b68d;

		.bnice{
			vertical-align: middle;
			float: right;
			margin-top: -15px;
			padding-top: 0px;
			top: 30px;
			margin-right: 30px;
			font-size: 23px;
			

				span a{
					font-size: 23px;
			color: #13b68d;
			line-height: 10px;
			margin-top: 0px;
				}

		}
		

	}

}


#howto {
/*	background:rgba(0,0,0,0.5);
*/	/*color: white;
	text-align: center;*/
	width: 100%;
	height: 100%;
	padding-top: 105px;
	padding-bottom: 105px;
	border: solid;

	.container {
		background:rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		width: 100%;
		padding: 100px 20px;
	}

	
}


.col-md-4{

font-family: 'Roboto Slab', serif;
font-size: 15px;

}

.howto p{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	
}

.howto_images {
	width: 100px;
	padding-top: 10px;
	font-family: 'Roboto Slab', serif
}

.howto_button {
	text-align: center;
	margin-top: 170px;
	margin-bottom: 13px;
}

.howto_button a{
	font-size: 25px;
	color: rgb(108,108,108);
}

.howto_button :hover {
	text-decoration: none;
	color: white;
}

.static_header {
	/*background-attachment: fixed;
	background: url("/assets/IS09A8I2K.jpg") no-repeat;
background-size: 100%;*/
	
	/*background:rgba(0,0,0,0.10);
	width: 100%;
	height: 100%;
/**/}
/*.background_opacity{
	background-color: rgba(248, 247, 216, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}*/

.venmo_sign_up_button {
	margin: 0 43%;
	border-color: #284450;
}

.venmo_button_size {
	width: 250px;
	height: 60px;
	background-color: #13b68d;
	/*rgb(90,176,0)*/
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 1px 1px;
	font-size: 25px;
	line-height: 1.428571429;
	border-radius: 4px;
	margin-top: 30px;
	font-family: 'Roboto Slab', serif;
	color: white;

}

.venmo_button_size:hover {
		background-color: #3f94d0;
}


.company_logo img{
	max-width: 200px;
	margin: 50px 45% 0;
}


.company_summary span{
	color: #13b68d;  
	text-align: center;
	/*rgb(90,176,0)*/

}

#about {
	width: 100%;
	height: 100%;
	padding-top: 80px;
/*	padding-bottom: 130px;
*/	border: solid;
	vertical-align: 50%;


	.container {
		text-align: center;
		width: 100%;
/*		padding: 100px 0;
*/	}

}

.about_explanation {
	text-align: center;
	margin: 30px 150px;
	padding-top: 80px;
	padding-bottom: 20px;
	font-family: 'Roboto Slab', serif;

	span{
	color: #13b68d ;
	/*rgb(90,176,0)*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Roboto Slab', serif;
	}
.row{
	font-family: 'Roboto Slab', serif;
}

}

.company_summary h1{
	color: #204056;
	margin: 20px 0px;
/*	text-align: center;*/
	font-family: 'Roboto Slab', serif;


	
}
.company_summary{
	text-align: center;
}