/*// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
h1{
	font-size: 13px;
	position: fixed;
	width: 95%;
	top: 0px;
	height: 60px;
	background-color: blue;
	margin: 0;
	
	
}
.LoginHeader {
float: right;
border: 1px; 	
}