<div class="howto">
  <div class="row">
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/add89.svg">
          <h2>Create User</h2>
          <p>Click on the button below to sign in through Venmo and set up your account.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/two205.svg/">
          <h2>Make Transaction</h2>
          <p>Borrow money from your friends at a low interest rate to help improve your credit standing, or set an amount to let your friends borrow from you without any risk/ </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/hand132.svg">
          <h2>Ball out</h2>
          <p>If you show financial responsiblity while borrowing money, you will soon become eligible for a credit card. If you let others borrow from you, just sit back, relax, and make dat GUAPPPP. </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div>
    </div>