<div class="howto">
  <div class="row">
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/add89.svg">
          <h2>Create User</h2>
          <p>Click on the button above to sign up through Venmo to start setting up your account</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
 -->        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/two205.svg/">
          <h2>Connect with Friends</h2>
          <p>Borrow money from your friends at low rates to help improve your credit standing, or set an amount of money for your friends borrow without risk </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="howto_images" data-src="holder.js/140x140" alt="140x140" src="/assets/hand132.svg">
          <h2>Ball Out</h2>
          <p>Keep borrowing and watch your credit history grow. If you like lending just sit back, relax, and make dat GUAPPPP. </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div>
    </div>